body{
    background: url(img.jpeg) no-repeat;
    display: block;
    background-size: cover;
    background-position: center;
    height: 120%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#counterLabel{
    display: block;
    font-size: 80px;
    text-align: center;
    margin-left: 1%;
    padding-top: 10%;
    color: black;
}
#wrapper{
    padding-left: 28%;
    padding-top: 2%;
    
}
#decreaseBtn{
    width: 20%;
    height: 40px;
    background: rgb(155, 153, 153);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 14px;
    color: white;
    font-weight: 600;
    margin-right: 1%;
    padding-right: 1%;
}
#resetBtn{
    width: 20%;
    height: 40px;
    background: rgb(155, 153, 153);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 14px;
    color: white;
    font-weight: 600;
    margin-right: 1%;
}
#increaseBtn{
    width: 20%;
    height: 40px;
    background: rgb(155, 153, 153);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 14px;
    color: white;
    font-weight: 600;
}